body {
	background-color: whitesmoke;
}

.example-wrapper {
	margin: 1em auto;
	max-width: 800px;
	width: 95%;
	font: 18px/1.5 sans-serif;
}
.example-wrapper code {
	background: #f5f5f5;
	padding: 2px 6px;
}

.clearfix {
	float: none;
	clear: both;
}

.center {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}

#header {
	margin: 1em auto;
	max-width: 800px;
	width: 95%;
	font: 18px/1.5 sans-serif;
}

#menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	height: 50px;
	background-color: #dad8d8;
	border-radius: 10px;
}

#menu li {
	float: left;
	display: block;
	margin: 0 10px;
}

#menu a {
	text-decoration: none;
	color: black;
}

label {
	display: flex;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 3px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 70%;
	padding: 5px;
}

button,
input[type="submit"] {
	padding: 10px;
	margin-top: 15px;
	background: #05882c;
	color: rgb(248, 243, 243);
	border: 1px solid #09ac3a;
	border-radius: 5px;
	transition: all 300ms;
}

button:hover,
input[type="submit"]:hover {
	background-color: #03932e;
	cursor: pointer;
}
